* {
    font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
}

nav {
    height: 50px;
    background-color: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
}

.menu .menu_link {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;

}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0,0,0, .6);
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  font-size: 13px;
  font-weight: 100;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}

.subheader .subhelabel  
{ margin-top: 19px;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
  color: #fff;
}

.subheader .subheader_phone {
  display: block;
  margin-top: 8px;
  font-size: 22px;
  text-align: right;
  color: #fff;
  line-height: 12px;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.promo {
  min-height: 800px;
  background: url('../img/bg_first_scr.jpg') center center/cover no-repeat;
  /* padding: 150px 0 135px 0; */
}

.promo .promo_header {
  /* display: block; */
  text-transform: uppercase;
  margin-top: 202px;
  font-size: 60px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 60px;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.promo .promo_subheader {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #fff;
}

.promo .promo_descr {
  margin-top: 23px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.promo .promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  /* margin: 118px 347px 0 349px; */
  /* padding: 25px 39px; */
  box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);

  text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: #fff;
}




.second_scr {
  min-height: 900px;
}

.label {
  display: block;
  margin: 71px auto 0 auto;
  width: 112px;
  height: 24px;
  padding-top: 4px;
  /* padding-bottom: 1px; */
  /* margin: 0 2px 38px 28px; */
  /* padding: 8px 11px 6px 12px; */
  background-color: #000;

  text-transform: uppercase;
  font-size: 11px;
  font-weight: 100;
  /* line-height: 6.18; */
  /* letter-spacing: normal; */
  text-align: center;
  color: #fff;
}

.title {
  
  margin-top: 38px;
  font-size: 38px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: normal;
  text-align: center;
  color: #222;
  text-transform: uppercase;
}




.item_2scr {
  min-height: 142px;
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.item_secScr_img {
  min-width: 174px;
  min-height: 142px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item2scr_img {
  width: 113px;
  height: 113px;
  border-radius: 100%;
  background-color: #1eacc7;
  display: flex;
  justify-content: center; 
  align-items: center;
}

/* .img_test {
  margin: 0 auto;
} */

.sec_scr_img1 {
  margin: 50px 25px 52px 28px;
  padding: 25px 19px 22px 14px;
}


.item2scr_text_flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
}

.item2scr_text {
  width: 355px;
  height: 145px;
  /* margin-top: 40px; */
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: justify;
  /* vertical-align: middle; */
  color: #202020;
}

.item2scr_text_head {
  font-size: 17px;
  font-weight: normal;
  color: #1eacc7;
}




.sec_scr_img2 {
  margin: 45px 25px 57px 28px;
  padding: 31px 13px 29px 17px;
}

.sec_scr_img3 {
  margin: 50px 25px 42px 28px;
  padding: 19px 28px 16px 31px;
}

.sec_scr_img4 {
  margin: 24px 25px 1293px 28px;
  padding: 20px 14px 27px;
}